body {
	padding: 10px;
	font-family: "Roboto", "Arial", sans-serif!important;
    font-size: 14px;
}
h1 {
	text-align:center;
	font-size:30px;
}
h2 {
	font-size:20px;
}
.wide-cnt {
    margin-right: 20px;
    float: left;
}
.clear {
    clear: both;
}

#languages, #selected-languages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    /*margin-right: 10px;*/
    /*background: #eee;*/
    width: 231px;
    border: 1px rgba(0, 0, 0, 0.50) solid;
}
#languages li,
#selected-languages li {
    background: #FDFDFD;;
    margin: 1px;
    padding: 5px;
    font-size: 0.9em;
    width: 220px;

    border-bottom: 1px dashed #000;
}

#languages li:last-child {
    border-bottom: none;
}

#save {
	display:block;
	margin:18px auto;

    position: fixed;
    top: 20px;
    right: 20px;

    font-size: 20px;
    cursor: pointer;
    
    color: #26C320;
}
